<section class="home">
  <div class="container">
    <h2 class="title">Welcome to the Digital Banking App</h2>
    <div class="cta-buttons">
      <a class="btn btn-primary animated-button" routerLink="/accounts">
        <span class="button-text">Consult Your Bank Account</span>
        <span class="button-background"></span>
      </a>
      <a class="btn btn-secondary animated-button" routerLink="/customers">
        <span class="button-text">Check Customers</span>
        <span class="button-background"></span>
      </a>
    </div>
  </div>
</section>
