<div class="p-3">
  <div class="card border border-primary shadow-lg rounded-lg">
    <div class="card-header bg-primary text-white">Authentication</div>
    <div class="card-body">
      <form [formGroup]="formlogin" (ngSubmit)="handleLogin()">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <button class="btn btn-primary btn-lg btn-block">Login</button>
      </form>
    </div>
  </div>
</div>
